@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Home Page";
}

<div style="word-wrap:break-word;">
    <h2>Cliams</h2>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
    @if (User.IsInRole("Visitor"))
    {
        <h1>你只是个访客</h1>
    }
    @if(User.IsInRole("Admin"))
    {
        <h1>是普通管理员</h1>
    }
    @if (User.IsInRole("SuperAdmin"))
    {
        <h1>最吊的超级管理员</h1>
    }
    
    <h2>Properties</h2>
    <dl>
        @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    </dl>
</div>
